{% extends 'base.html' %}

{% block title %}このサイトについて | Modern Blog{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <h1 class="mb-4">このサイトについて</h1>
    <p>Modern Blog は、モダンな Web 技術とベストプラクティスに基づいた、シンプルかつ拡張性のあるブログプラットフォームです。</p>
    <ul>
      <li>Django と SQLite による堅牢なバックエンド</li>
      <li>ログインユーザーによる投稿の作成・編集・削除</li>
      <li>カテゴリやタグ、検索による柔軟なコンテンツ探索</li>
      <li>画像アップロード対応の投稿フォーム</li>
    </ul>
    <p>アカウントを作成して投稿を始めましょう！</p>
  </div>
</div>
{% endblock %}
